Package: deepin-font-manager-dbgsym
Source: deepin-font-manager
Version: 0.1-1
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Rekols <rekols@foxmail.com>
Installed-Size: 233
Depends: deepin-font-manager (= 0.1-1)
Section: debug
Priority: optional
Description: debug symbols for deepin-font-manager
Build-Ids: 31e1fbdeacee1db73b45c9d551797a84c7995075 5d2ca187db7e5bbc29a5d86ea0de01f4f5ee5eb2 7dd80e37472b175e9fe0ad5cbbc5316ce775deea 9b06cad1736ef5dbdc5195eede2627860336ad84
