Package: libdeepin-font-manager-dbgsym
Source: deepin-font-manager
Version: 0.1-1
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Rekols <rekols@foxmail.com>
Installed-Size: 60
Depends: libdeepin-font-manager (= 0.1-1)
Section: debug
Priority: optional
Multi-Arch: same
Description: debug symbols for libdeepin-font-manager
Build-Ids: bb19029f5ea8fe436118ed966d8c8c24d3a93627
