Source: deepin-font-manager
Section: utils
Priority: optional
Maintainer: Rekols <rekols@foxmail.com>
Build-Depends: debhelper (>= 9),pkg-config, qt5-qmake, libdtkwidget-dev, libdtkgui-dev, qttools5-dev-tools, libqt5svg5-dev, libfontconfig1-dev, libfreetype6-dev, libdde-file-manager-dev, deepin-gettext-tools
Standards-Version: 3.9.8
Homepage: http://www.deepin.org

Package: deepin-font-manager
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libdeepin-font-manager( =${binary:Version})
Replaces: deepin-font-installer
Conflicts: deepin-font-installer
Description: Deepin Font Manager binary
 Deepin Font manager is used to install and uninstall font file for users with bulk install function.

Package: libdeepin-font-manager
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Multi-Arch: same
Description: Deepin Font Manager library
 This package contains the shared libraries.

Package: libdeepin-font-manager-dev
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libdeepin-font-manager( =${binary:Version})
Description: Deepin Font Manager Devel library
 This package contains the header files and static libraries
 of libdeepin-font-manager
